<section class="row colophon">
  <footer>
    <div class="column half">
      <a name="contribute">
        <h3>Contributions</h3>
      </a>
      <p>All contributions are welcome. This site is <a href="https://github.com/florianbuerger/awesome-sket.ch"> on GitHub</a>, simply fork it and create a pull request. Read the <a href="https://github.com/florianbuerger/awesome-sket.ch#contributing">README</a> for more information</p>
    </div>
    <div class="column half">
      <a name="about">
        <h3>About</h3>
      </a>
      <p>Built by <a href="http://florianbuerger.com">Florian Bürger</a> using <a href="http://gruntjs.com">Grunt.js</a> &amp; <a href="http://assemble.io">Assemble</a>. Follow me on
        <a class="twitter" href="https://twitter.com/_bergdude">Twitter</a>.
      </p>
    </div>
  </footer>
</section>
