{{#minify}}
<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>

  <meta name="description" content="">
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, width=device-width">
  <meta name="author" content="Florian Bürger">
  <meta property="twitter:account_id" content="9630862">

  <link rel="author" href="https://plus.google.com/+FlorianBürger">
  <link href="{{assets}}/css/styles.css" rel="stylesheet">
  <link rel="shortcut icon" href="{{assets}}/img/favicon.ico">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  {{> typekit }}

  <meta name="google-site-verification" content="CnlDixibofaXo8kN8WBGGj5AHzGCHCmBffUOQlHkE4Q" />
</head>

<body>
  <div class="main">

    {{> header }}

    <div class="container">

      <div class="content-wrapper">

        {{> body }}

      </div>

    </div>

    {{> footer }}

    {{> analytics }}

  </div>
</body>

</html>
{{/minify}}
