<!DOCTYPE html>
<html>

<head>
  <title>{{title}} &laquo; {{site.title}}</title>

  <meta name="description" content="">
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, width=device-width">
  <meta name="author" content="Florian Bürger">
  <meta property="twitter:account_id" content="9630862">

  <link rel="author" href="https://plus.google.com/+FlorianBürger">
  <link href="{{assets}}/css/styles.css" rel="stylesheet">
  <link rel="shortcut icon" href="{{assets}}/img/favicon.ico">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  {{> typekit }}

  <!--   <link rel="apple-touch-icon" sizes="57x57" href="http://pjrvs.com/themes/pj/assets/favicons/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="http://pjrvs.com/themes/pj/assets/favicons/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="http://pjrvs.com/themes/pj/assets/favicons/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="http://pjrvs.com/themes/pj/assets/favicons/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="60x60" href="http://pjrvs.com/themes/pj/assets/favicons/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="http://pjrvs.com/themes/pj/assets/favicons/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="http://pjrvs.com/themes/pj/assets/favicons/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="http://pjrvs.com/themes/pj/assets/favicons/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="http://pjrvs.com/themes/pj/assets/favicons/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="http://pjrvs.com/themes/pj/assets/favicons/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="http://pjrvs.com/themes/pj/assets/favicons/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="http://pjrvs.com/themes/pj/assets/favicons/favicon-160x160.png" sizes="160x160" />
  <link rel="shortcut icon" type="image/x-icon" href="http://pjrvs.com/themes/pj/assets/favicons/favicon.ico"> -->

</head>

<body>
  <header>
    <h1 class="title">Awesome Sketch Plugins</h1>
  </header>
  <div class="container">


    {{> body }}

  </div>
</body>

</html>
