@import "normalize";
@import "responsive-typography";
@import "breakpoints";
@import "functions";
@import "grid";

// ----------
// FONTS
// ----------

$sans-serif: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
$logo-font: $sans-serif;
$headline-font: "Open Sans Condensed", "Helvetica Neue", Helvetica, sans-serif;

$site-margin-mobile: 20px;
$site-margin-large: 80px;

// ----------
// COLORS
// ----------

$black: #333;
$white: #fefefe;

$blue: #3E94E0;
$turquoise: #29bb9c;
$wisteria: #9a54b8;

$main-color: $turquoise;
$secondary-color: $wisteria;

$body-text-color: $black;
$body-background-color: $white;

$title-background-color: $main-color;
$link-color: $main-color;

// ----------
// SITE
// ----------

$header-height: em(120px);
$footer-height: em(180px);

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
  height: 100%;
}
@include breakpoint(medium) {
  font-size: 112%;
  line-height: 112%;
}
@include breakpoint(large) {
  font-size: 120%;
  line-height: 120%;
}

.container {
  margin: 0 auto;
  max-width: 55em;
  width: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: $sans-serif;
  color: $body-text-color;
  background-color: $body-background-color;
}
.main {
  display: table;
  height: 100%;
  width: 100%;
}

h1,h2 {
  font-family: $headline-font;
}

a {
  text-decoration: none;
  border-bottom: 1px solid $link-color;;
  color: $link-color;
}

li {
	margin: .5em 0;
}

header {
  opacity: .8;
  width: 100%;
  text-align: center;
  margin: .2em;
  display: table-row;
  background-color: $title-background-color;
  color: $white;
  a {
    color: inherit;
    border-color: $white;
  }
  p {
    margin-top: 0;
  }
}
.title {
  margin: .2em;
  font-size: em(40pt);
  @include breakpoint(small) {
    font-size: em(28pt);
    margin: 0;
  }
}

.column {
  @include breakpoint(small) {
    margin: em(40px) em(20px);
  }
}
.row {
  margin-top: em(80px);
  margin-bottom: em(80px);
  h1, h2, h3, h4 {
    margin-top: 0;
  }
}
.multi-row {
  @extend .row;
  margin-bottom: em(10px);
}
.expanded-row {
  @extend .row;
  margin-top: 0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: em(10px);
  max-width: 100%;
}
.meta {
  padding-left: em(10px);
  font-size: 40%;
  opacity: .7;
  font-style: italic;
}
.divider {
  padding: 0 em(6px);
}

.colophon {
  opacity: .8;
  background-color: $main-color;
  color: $white;
  a {
    border-color: $white;
    color: inherit;
  }
  display: table-row;
}

footer {
  margin: $site-margin-large/2 $site-margin-large;
  line-height: 1.5em;
  @include breakpoint(small) {
    margin: $site-margin-mobile/2 0;
  }
}
