@import "responsive-typography";
@import "retina";
@import "breakpoints";
@import "functions";
@import "grid";
@import "footer";

// ----------
// FONTS
// ----------

$sans-serif: "Open Sans", "Comic Sans", "Helvetica Neue", Helvetica, sans-serif;
$logo-font: $sans-serif;
$headline-font: "Open Sans Condensed", "Helvetica Neue", Helvetica, sans-serif;

// ----------
// COLORS
// ----------

$black: #333;
$white: #fefefe;

$blue: #3E94E0;
$turquoise: #29bb9c;
$wisteria: #9a54b8;

$main-color: $turquoise;
$secondary-color: $wisteria;

$body-text-color: $black;
$body-background-color: $white;

$title-background-color: $main-color;
$link-color: $main-color;

// ----------
// SITE
// ----------

$header-height: em(120px);
$footer-height: em(180px);

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  height: 100%;
}
@include breakpoint(medium) {
  font-size: 112%;
  line-height: 112%;
}
@include breakpoint(large) {
  font-size: 120%;
  line-height: 120%;
}

.container {
  margin: 0 auto;
  max-width: 48em;
  width: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: $sans-serif;
  color: $body-text-color;
  background-color: $body-background-color;
}
.main {
  display: table;
  height: 100%;
  width: 100%;
}

h1,h2 {
  font-family: $headline-font;
}

a {
  text-decoration: none;
  border-bottom: 1px solid $link-color;;
  color: $link-color;
}

header {
  opacity: .8;
  width: 100%;
  text-align: center;
  margin-bottom: em(40px);
  height: $header-height;
  background-color: $title-background-color;
  color: $white;
  padding: 10px;
  a {
    color: inherit;
    border-color: $white;
  }
  @include breakpoint(small) {
    margin-bottom: em(10px);
  }
}
.title {
  margin: 0;
  font-size: em(40pt);
  @include breakpoint(small) {
    font-size: em(44px);
  }
}

.row {
  margin-top: em(40px);
  @include breakpoint(small) {
    padding: em(20px);
  }
}

img {
  max-width: 100%;
}
.meta {
  padding-left: em(10px);
  font-size: 50%;
  opacity: .7;
  font-style: italic;
}
.divider {
  padding: 0 em(6px);
}

.colophon {
  opacity: .8;
  background-color: $main-color;
  color: $white;
  a {
    border-color: $white;
    color: inherit;
  }
  display: table-row;
  // ul {
  //   list-style-type: none;
  //   display: inline-block;
  //   margin: 0;
  //   padding: 0;
  // }
}

footer {
  padding: em(10px) em(40px);
  line-height: 1.5em;
}
